<?xml version='1.0' encoding='utf-8'?>
<robot name="knife">
  <link name="link_1">
    <visual name="link_1">
      <origin xyz="0.000000 0.010000 0.000000" />
      <geometry>
        <box size="0.010000 0.004000 0.020000" /></geometry>
    </visual>
    <collision>
      <origin xyz="0.000000 0.010000 0.000000" />
      <geometry>
        <box size="0.010000 0.004000 0.020000" /></geometry>
    </collision>
    </link>
  <joint name="joint_0" type="prismatic">
    <origin xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <child link="link_1" />
    <parent link="link_0" />
    <limit lower="-0.055000" upper="0.055000" effort="100.0" velocity="1.0" />
  </joint>
  <link name="link_0">
    <visual name="link_0">
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.020000 0.016000 0.150000" /></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.020000 0.016000 0.150000" /></geometry>
    </collision>
    </link>
</robot>
