<?xml version='1.0' encoding='utf-8'?>
<robot name="stapler">
	<link name="link_0">
		<visual name="link_0">
			<origin xyz="0.0 0.0 0.0" />
			<geometry>
				<box size="0.03 0.12 0.02" /></geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 0.0" />
			<geometry>
				<box size="0.03 0.12 0.02" /></geometry>
		</collision>
		</link>
	<link name="link_1">
		<visual name="link_1">
			<origin xyz="0.0 0.06 0.01" />
			<geometry>
				<box size="0.03 0.12 0.02" /></geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.06 0.01" />
			<geometry>
				<box size="0.03 0.12 0.02" /></geometry>
		</collision>
		</link>
	<joint name="joint_0" type="revolute">
		<origin xyz="0 -0.06 0.01" />
		<axis xyz="-1 0 0" />
		<child link="link_1" />
		<parent link="link_0" />
		<limit lower="-0.423" upper="0.2" effort="100.0" velocity="3.14" />
	</joint>
</robot>
